<h3>About the club</h3>
<!--<img src="img/rho.svg" id="logo"/>-->
<p>Important Resources</p>

<a href="google.com">Code of Conduct<br></a>
<a href="https://docs.google.com/forms/d/1LN0j1J-ul6G81Yd67bkzJSu5IHSpGMkubFH9i2AwIZ0/viewform">Submit a Hack to the Hat!<br></a>
<a href="https://docs.google.com/forms/d/17tGaaQXUt4pGSRVkndKD_UqgJ_AKS96Ib8ckQtnWH8Q/viewform">Anonymously report something<br></a>

<h4>Recent Posts<h4>

<ul>
	{% for post in site.posts limit: 7 %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>